{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="mb-4">Blog</h1>
    <ul class="no-bullets">
    {% for article in articles %}
      <li>
      <h2><a href="/{{ article.url }}">{{ article.title }}</a></h2>
      <label>Posted on <strong>{{ article.locale_date }}</strong></label>
      {{ article.summary }}
    </li>
    {% else %}
      No posts yet!
    {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}
