<div class="profile-links">
  <a href="https://github.com/jkarimi91">
    <img src="theme/images/github.svg">
  </a>

  <a href="https://www.kaggle.com/jkarimi91">
    <img src="theme/images/kaggle.svg">
  </a>

  <a href="https://www.linkedin.com/in/jkarimi/">
    <img src="theme/images/linkedin.svg">
  </a>

  <a href="https://stackoverflow.com/users/3943552/jkarimi?tab=profile">
    <img src="theme/images/stackoverflow.svg">
  </a>

  <a href="https://mobile.twitter.com/jkarimi91">
    <img src="theme/images/twitter.svg">
  </a>
</div>
